<!DOCTYPE html>
<html>
  <head>
    <title>Facade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Baewe - Responsive Creative Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :vue_app %>
  </head>

  <body>
    <div id="preloader">
            <div id="status">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
            </div><!--status-->
        </div><!--/preloader-->
        <!--HOME START-->
		<div id="home" class="clearfix">
			<!--HEADER START-->
			<nav class="header home-section clearfix ">
            		<div class="top-head">
                        <div class="container-fluid">
                            <ul class="top-head-list">
                            <% Social.all.each do |social| %>
                            <li><%= link_to fa_icon(social.css_class), social.href %></li>
                              <%# <li><a href="#"><i class="fa fa-facebook"></i></a></li>         %>
                            <% end %>
                            </ul><!--/.top-head-list-->
                        </div><!--/.container-fluid-->
                    </div><!--/.top-head-->
					<div class="nav-head white-nav">
                    	<div class="logo">
                            <%= image_tag("logo-unost.png") %>
						</div>
						<div class="container-fluid nav-box">
                            <div class="for-sticky">
                                <div class="menu-box hidden-xs hidden-sm">
                                    <ul class="navigation">
                                        <li>
                                            <a href="#">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home Slider</a></li>
                                                <li><a href="index-video.html">Home Video</a></li>
                                                <li><a href="index-youtube.html">Home Youtube</a></li>
                                                <li><a href="index-personal.html">Home Personal</a></li>
                                                <li><a href="index-clean.html">Home Clean</a></li>
                                                <li><a href="index-work-slide.html">Home with Works Slider</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Works</a>
                                            <ul>
                                                <li><a href="work-style1.html">Works Style 1</a></li>
                                                <li><a href="work-style2.html">Works Style 2</a></li>
                                                <li><a href="work-style3.html">Works Style 3</a></li>
                                                <li><a href="work-style4.html">Works Style 4</a></li>
                                                <li>
                                                    <a href="#">Single Work</a>
                                                    <ul>
                                                        <li><a href="work1.html">Single work style 1</a></li>
                                                        <li><a href="work2.html">Single work style 2</a></li>
                                                        <li><a href="work3.html">Single work style 3</a></li>
                                                        <li><a href="work4.html">Single work style 4</a></li>
                                                        <li><a href="work5.html">Single work style 5</a></li>
                                                    </ul>
                                            	</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">About</a>
                                             <ul>
                                                <li><a href="about-us.html">About Agency</a></li>
                                                <li><a href="about-me.html">About Personal</a></li>
                                                <li><a href="team.html">Team Page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Blog Sidebar</a></li>
                                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                                <li><a href="blog-masonry-sidebar.html">Blog Masonry Sidebar</a></li>
                                                <li><a href="blog-wide.html">Blog Wide</a></li>
                                                <li><a href="blog-slider.html">Blog Slider Header</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!--/.menu-box-->
                                <div class="box-mobile hidden-lg hidden-md">
                                    <div class="menu-btn" data-toggle="collapse" data-target=".nav-collapse">
                                        <span class="fa fa-bars"></span>
                                    </div>
                                    <ul class="nav-collapse mobile-menu hidden-lg hidden-md"></ul>
                                </div><!--/.box-mobile-->	
                            </div><!--/.for-sticky-->
						</div><!--/.container-fluid-->
					</div><!--/.nav-head-->
			</nav><!--/.header-->
			<!--HEADER END-->
 		</div><!--/home-->
 		<!--HOME END-->

        <!--HOME SLIDER START-->
        <div class="home-slider ani-slider slider container-fluid" data-slick='{"autoplaySpeed": 5000}'>
            
            <div class="slide">
                <div class="slider-mask" data-animation="slideLeftReturn" data-delay="0.1s"></div>
                <div class="slider-img-bg" data-animation="vanishIn" data-delay="0.2s" data-animation-duration="0.7s" data-background="images/slider/1.jpg"></div>
                <div class="slider-box container-fluid">
                    <div class="row">
                        <div class="col-md-6 slider-content">
                            <h3 class="slider-title" data-animation="fadeInDownBig" data-delay="0.8s">There is no substitute <br/>for hard work</h3>
                            <p class="slider-text" data-animation="fadeInUp" data-delay="1s">
                                Light Turner, a bright student, stumbles across a mystical notebook that has the power to 
                                kill any person whose name he writes in it Light decides to launch a secret crusade to rid the streets of criminals 
                            </p>
                            
                            <div class="btn-relative" data-animation="swashIn" data-delay="1.5s" data-animation-duration="1s">
                                <a class="slider-btn" href="#">View More</a>
                            </div><!--/.btn-relative-->
                        </div><!--/.col-md-6-->
                    </div><!--/.row-->
                </div><!--/.slider-box-->
            </div><!--/.slide-->
            
            <div class="slide">
                <div class="slider-mask" data-animation="slideLeftReturn" data-delay="0.1s"></div>
                <div class="slider-img-bg" data-animation="vanishIn" data-delay="0.2s" data-animation-duration="0.7s" data-background="images/slider/2.jpg"></div>
                <div class="slider-box container-fluid">
                    <div class="row">
                        <div class="col-md-6 slider-content">
                            <h3 class="slider-title" data-animation="fadeInDownBig" data-delay="0.8s">Without hard work, nothing grows</h3>
                            <p class="slider-text" data-animation="fadeInUp" data-delay="1s">
                                Light Turner, a bright student, stumbles across a mystical notebook that has the power to 
                                kill any person whose name he writes in it Light decides to launch a secret crusade to rid the streets of criminals 
                            </p>
                            
                            <div class="btn-relative" data-animation="swashIn" data-delay="1.5s" data-animation-duration="1s">
                                <a class="slider-btn" href="#">View More</a>
                            </div><!--/.btn-relative-->
                        </div><!--/.col-md-6-->
                    </div><!--/.row-->
                </div><!--/.slider-box-->
            </div><!--/.slide-->
            
             <div class="slide">
                <div class="slider-mask" data-animation="slideLeftReturn" data-delay="0.1s"></div>
                <div class="slider-img-bg" data-animation="vanishIn" data-delay="0.2s" data-animation-duration="0.7s" data-background="images/slider/3.jpg"></div>
                <div class="slider-box container-fluid">
                    <div class="row">
                        <div class="col-md-6 slider-content">
                            <h3 class="slider-title" data-animation="fadeInDownBig" data-delay="0.8s">Work hard and amazing things will happen</h3>
                            <p class="slider-text" data-animation="fadeInUp" data-delay="1s">
                                Light Turner, a bright student, stumbles across a mystical notebook that has the power to 
                                kill any person whose name he writes in it Light decides to launch a secret crusade to rid the streets of criminals 
                            </p>
                            
                            <div class="btn-relative" data-animation="swashIn" data-delay="1.5s" data-animation-duration="1s">
                                <a class="slider-btn" href="#">View More</a>
                            </div><!--/.btn-relative-->
                        </div><!--/.col-md-6-->
                    </div><!--/.row-->
                </div><!--/.slider-box-->
            </div><!--/.slide-->
        
    	</div><!--/.slider-->
        <!--HOME SLIDER END-->
    <%= yield %>
  </body>
</html>
